body {
font-family: "Lato", sans-serif;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right:10px;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;

}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181; 
display: block;
transition: 0.3s;
right: 28px;

}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;

}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}

}

.top-right {
position: absolute;
top: 8px;
right: 16px;
}

a {
color: #585656;
font-size: 16px;
}


header {
font-size: 30px;
padding-top: 5%;
}

p {
line-height: 1.6;
color: hsl(0, 1%, 28%);

    
}


.carousel-inner img {
width: 100%;
height: 100%;
}

.carousel-caption{
background-color: #dadbdccc; 
z-index: 11px;
color: #5f5d5d;
}

.carousel-control-prev{
top: 70%;
margin-left: 20%;
}

.carousel-control-next{
top: 70%!;
margin-right: 20%;
}


.carousel-caption {
position: absolute;
right: 15%;
bottom: 40%;
left: 0%;
top: 25%;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: hsl(0, 4%, 37%);
text-align: center;
}

.line {
padding: 2%;
border-left: 2px solid #565353;
margin-left: 30%;
text-align: left;
top:1px;
position: absolute;
}

.main a {
width: 30%;
height: 25%;
}


img {
width: 100%;
height: auto;
}



.second.row {
margin-left: 0px!;
margin-right: 0px;
}


button {
margin-left: 40%;
background-color: #D36F6F;
color: white;
padding: 2% 9% 2% 9%;
}


.photo{
display: inline-block;
position: relative;
}

