body {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

canvas {
    display: block;
    margin: 0; 
    border: none; 
}

#linkButtonContainer {
    position: absolute; 
    top: 30px; 
    left: 30px; 
    z-index: 100; 
}
  
  #linkButton:hover {
    background-color: rgb(188, 145, 195);
  }
  