body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/1.jpg'); 
    background-size: cover;
    opacity: 0.5; 
    z-index: -1;
}

.bottom {
    display: inline-block;
    background-color: hsl(120, 2%, 56%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

marquee {
    opacity: 0.8; 
}

table {
    background-color: transparent; 
}

td {
    background-color: transparent; 
}

