* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
   
    
}

.frame {
    position: absolute;
    width: 100%;
    height: auto; 
    min-height: 100vh; 
    background: #f0f0f0; 
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    padding: 20px; 
}

.corner {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.top-left {
    top: 30px;
    left: 30px;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: 30px;
    right: 30px;
    border-left: none;
    border-bottom: none;
}

.bottom-left {
    bottom: 30px;
    left: 30px;
    border-top: none;
    border-right: none;
}

.bottom-right {
    bottom: 30px;
    right: 30px;
    border-top: none;
    border-left: none;
}

.link-list {
    position: fixed;
    top: 0; 
    left: 0;
    width: 200px; 
    height: 100%;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.2); 
    z-index: 1000;
    padding-top: 30px;
}

.link-list ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    top: 200px;
    position: relative;
    text-align: center;
}

.link-list li a {
    display: block;
    padding: 10px 15px; 
    text-decoration: none; 
    color: black;
    border-bottom: 1px solid #fffefe; 
    background-color: #d8d3d3 opacity 0.2; 
}

.link-list li a:hover {
    background-color: #e8e8e8; 
}

.text-container {
    background-color: hsla(0, 0%, 100%, 0.7); 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px auto; 
    line-height: 1.6; 
}

.text-container p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px; 
}

#backToTop {
    display: none; 
    position: fixed; 
    bottom: 50px; 
    right: 60px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #333; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#backToTop:hover {
    background-color: #555; 
}

@media (max-width: 768px) {
    .link-list {
        width: 100px;
        height: 30px;
        position: relative;
        box-shadow: none;
    }

    .link-list ul {
        text-align: left;
    }

    .link-list li a {
        padding: 10px;
        border-bottom: 1px solid #e8e8e8;
    }

    .text-container {
        width: 395px;
        margin: 10px auto;
        padding: 15px;
    }

    .text-container h1 {
        font-size: 24px;
    }

    .text-container p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .text-container h1 {
        font-size: 20px;
    }

    .text-container p {
        font-size: 12px;
    }

    .top-left, .top-right, .bottom-left, .bottom-right {
        width: 50px;
        height: 50px;
    }
}

#backToTop {
    display: block;
}



