body {
    margin: 0;
    padding: 0;
    background: url('../img/1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden; 
}

.main-content h1 {
    color: rgb(74, 71, 71);
    text-align: center;
    opacity: 0; 
    transition: opacity 1s ease; 
    position: absolute; 
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-indent: 0.3px;
}

#navigation {
    position: relative; 
    width: 100%;
    height: 100vh; 
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; /
}

#navigation a:hover {
    background-color: black; 
    color: white; 

}


#navigation li {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 50px 90px;
    position: absolute; 
    opacity: 0; 
    transition: opacity 1s ease; 
    font-size: 19px;
    font-weight: 300;
}

#navigation li:nth-child(1) {
    top: -40px;
    left: 20px;
}

#navigation li:nth-child(2) {
    top: 30px;
    left: 50%;
    transform: translateX(-50%); 
}

#navigation li:nth-child(3) {
    bottom: 70px;
    right: 20px;
}

#navigation li:nth-child(4) {
    top: 50%;
    left: 30px;
    transform: translateY(-50%); 
}

#navigation li:nth-child(5) {
    top: 70%;
    left: 300px;
}

#navigation li:nth-child(6) {
    top: 300px;
    right: 200px;
}


#navigation li:nth-child(7) {
    top: 10px;
    right: 20px;
}

#navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block; 
}

.centered-links {
    list-style: none;
    text-align: center;
    padding: 0;
}

.centered-links li {
    display: inline-block;
    margin: 0 10px; 
}

.centered-links a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .main-content h1 {
        font-size: 18px; /* Adjust font size */
    }

    #navigation li {
        padding: 40px 70px; /* Adjust padding */
        font-size: 17px; /* Adjust font size */
    }

    .centered-links a {
        font-size: 18px; /* Adjust font size */
    }

    /* Other elements can also be adjusted similarly */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-content h1 {
        font-size: 16px;
    }

    #navigation li {
        padding: 35px 60px;
        font-size: 16px;
    }

    .centered-links a {
        font-size: 16px;
    }

    /* Further adjustments as needed */
}

@media only screen and (max-width: 768px) {
    .main-content h1 {
        font-size: 14px;
    }

    #navigation li {
        padding: 30px 50px;
        font-size: 14px;
    }

    .centered-links a {
        font-size: 14px;
    }

    /* Adjustments for smaller screen */
}


